<select id="infienity_select" fie-change="sort_<%= assign %>">
  <% dropdown_options.each do |key,val| %>
    <option value="<%= { sort: {key => val} }.to_json %>"> <%= key %> </option>
  <% end %>
</select>

<script>
select = document.getElementById("infienity_select");
select.fie-parameters = select.options[select.selectedIndex];
</script>